<!DOCTYPE html>
<html>
<head>
  <title>StatusShowPlugin</title>
  <%= stylesheet_link_tag    "status_show_plugin/application", media: "all" %>
  <%= javascript_include_tag "status_show_plugin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
